<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "welcome" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
  from django.conf import settings
  from django.utils.translation import gettext as _
  from urllib.parse import quote_plus
  from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">${_("Welcome")}</%block>
<%block name="bodyclass">not-signedin index view-howitworks</%block>

<%block name="content">

<div class="wrapper-content-header wrapper" style="height: 100;">
  <section class="content content-header">
    <header>
      <h1><span class="wrapper-text-welcome">Welcome to CampEd</span></h1>
      <p class="tagline">Opening your gates to the new digital campus</p>
      <div class="w-full text-center mt-8 justify-center">
        <button class="btn btn-rounded text-xl font-light" style="padding: 10px;padding-right: 40px;padding-left: 40px;margin-top: 40px;border: 0;border-radius: 8px;">
            <a href="https://camped.academy/contact/" target="_blank" class="border-2 text-white border-current px-12 p-2 rounded-full mt-4 no-underline " style="text-decoration: none;font-family: system-ui;">
                BOOK A FREE DEMO
            </a>
        </button>
    </div>
    </header>
  </section>
</div>
</%block>