<%page expression_filter="h" />
<%inherit file="base.html" />
<%def name="online_help_token()">
  <% return "welcome" %>
</%def>
<%namespace name='static' file='static_content.html' />
<%! from django.conf import settings from django.utils.translation import gettext as _ from urllib.parse import
  quote_plus from openedx.core.djangolib.markup import HTML, Text %>

  <%block name="title">${_("Welcome")}</%block>
  <%block name="bodyclass">not-signedin index view-howitworks</%block>

  <%block name="content">

    <div class="wrapper-content-header wrapper" style="background: #F5F5F5;">
      <section class="content content-header">
        <header>
          <h1 style="border: none;">
            <span class="wrapper-text-welcome" style="color: black;border: none;">Welcome to CampEd</span>
          </h1>
          <p class="tagline" style="color: black;">Opening your gates to the new digital campus</p>
          <div class="w-full text-center mt-8 justify-center" style="margin-top: 40px;">
            <a href="https://camped.academy/contact/" target="_blank"
              class="border-2 text-white border-current px-12 p-2 rounded-full mt-4 no-underline "
              style="padding: 16px;text-decoration: none;font-family: system-ui;background: #006eff;color: #fff;border-radius: 8px;padding-left: 40px;padding-right: 40px;">
              BOOK A FREE DEMO
            </a>
          </div>
        </header>
      </section>
    </div>
  </%block>