<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <div class="outer-wrapper">
          <div class="d-flex justify-content-center mx-auto sm:px-4 py-vh-4 text-center p-3">
            <div class="flex-col w-full flex items-center justify-center">
                <div class="w-full pr-4 pl-4 xl:w-4/5">
                    <span class="font-light">
    
                    </span>
                    <h1 class="text-4xl lg:text-5xl mt-3 mb-3 leading-none">
                        <p>Opening your gates to the new digital campus</p>
                    </h1>
                </div>
                <div class="w-full xl:w-2/3 pr-4 pl-4 mt-4">
                    <p class="text-xl font-light">
                    </p>
                    <p>One single platform for all your campus management solutions</p>
                    <p></p>
                </div>
                <div class="w-full text-center mt-8 justify-center">
                    <button class="btn btn-rounded hover:shadow mb-5" style="padding: 10px; border-radius: 12px;background-color: #0C6DFD;">
                        <a href="https://camped.academy/contact/" target="_blank"
                            class="border-2 text-white border-current px-12 p-2 rounded-full mt-4 no-underline" style="text-decoration: none;font-family: system-ui;">
                            BOOK A FREE DEMO
                        </a>
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="https://camped.academy/_astro/app.c738a806_ZR9xk7.avif" alt="camped-lms" class="img-fluid" style="width: 588px;height: 344px;">
                </div>
    
            </div>
        </div>

        
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <%include file="index_overlay.html" />
              % endif
            </div>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search d-none">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                  </button>
                </form>
              </div>
            % endif

          </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
